h1{
    margin: 0px;
    font: 'Ubuntu',sans-serif;
    color: #3CBC8D;
}
button{
    border:none;
    text-align: center;
    cursor: pointer;
    background-color: #3CBC8D;
    color: white;
    height: 28px;
    border-radius: 2px;
}
button#smallButton{
    height: 30px;
}
p{
    font-size: 14px;
    color: darkgreen;
    display: inline-block;
    margin-right: 6px;

}
input[type=number]{
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    width: 140px;
    background-color: #3CBC8D;
    border-radius: 2px;
    color: white;
}
div#chartDiv{
    width: 400px;
    height: 400px;
}


div#tableDiv{
    display: inline-block;
}
div#numberDiv{
    height: 50px;
}
div#barDiv{
    display: inline-block;
}


tbody {
    height: 400px;
    overflow: auto;
}

table, tbody
{
    font: 'Ubuntu',sans-serif;
	font-size: 12px;
    margin-left: 50px;
	text-align: center;
    border-collapse: collapse;
    display: inline-block;
}

table th, tbody th
{
	padding: 8px 2px;
	font-size: 14px;
	border-bottom: 2px solid #3CBC8D;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
	color: black;
}
table td, tbody td
{
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid #3CBC8D;
	color: black;
}

div#tabDiv{
    margin-left: 20px;
}

