html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #okno{
    display: inline-block;
    padding: 5pt;
    border-radius: 5pt;
    background-color: rgba(1,163,217,0.5);
  }


  #presetList{
    width:95%;
  }