<head>
	<script type="text/javascript" src="koda1.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <script src='../../js-libs/jquery-3.4.1.min.js'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    	#tab {
    		border-collapse: collapse;
    		text-align: right;
    	}
    	#tabrez {
    		border-collapse: collapse;	
    	}
    	.vodo {
    		display: inline-block;
    	}
    </style>
</head>
<body>
	<div>
		<p class="vodo">Hitrost</p>
		<input type="range" id="speed" min=0 max=8 step=1 class="vodo">
	</div>
	<div>
		<p class="vodo">Vnesi a</p>
		<input type="text" id="a" class="vodo"></input>
	</div>
	<div>
		<p class="vodo">Vnesi b</p>
		<input type="text" id="b" class="vodo">
	</div>
	
	<p>Vnesi številsko bazo</p>
	<input id="n" type="range" min=2 max=16 id="modul" name="modul" onchange="trenutnaBaza.innerHTML=this.value;"></input>
	<p id="trenutnaBaza">9</p>
	<input type="button" id="reset" value="Reset"></input>
	<p id="err"></p>
	</br>
	<table id="tab">
	</table>	
	<p id="rezultat"></p>
	<table id=tabrez></table>
</body>