<head>
	<script type="text/javascript" src="koda.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <script src='../../js-libs/jquery-3.4.1.min.js'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    	#tab {
    		border-collapse: collapse;
    		text-align: right;
    	}
    	.vodo {
    		display: inline-block;
    	}
    </style>
</head>
<body>
	<div>
		<p class="vodo">Vnesi modul</p>
		<input type="text" id="a" class="vodo"></input>
	</div>
	<div>
		<p class="vodo">Vnesi stevilo, katerega isces inverz</p>
		<input type="text" id="b" class="vodo"></input>
	</div>
	<input type="button" value="Reset" id="reset">
	<table id="tab" border="1px"></table>
	<p id="err"></p>
	<p id="rezultat"></p>
</body>