html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }


h1 {
    text-align: center;
    font-size: 160%;
}
form .section {
    background-color: rgba(1,163,217,0.8);
    padding: 5pt;
    border-radius: 5pt;
    margin: none;
}
form table {
    border-collapse: collapse;
}
form input {
    font-family: inherit;
    font-size: inherit;
}
form #charset label:hover {
    background-color: #F0F0F0;
}
form #charset td {
    padding: 0em;
}
form #charset input[type=checkbox] {
    margin: 0em;
}
form #charset label {
    margin-left: 0.2em;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border-radius: 0.2em;
}
form #charset small {
    font-size: 70%;
}
form #type td {
    padding: 0.2em 0em;
}
form #type input[type=number] {
    text-align: right;
}
form input[type=submit], form input[type=button] {
    padding: 0.2em 0.6em;
}
form #password {
    margin-left: 0.3em;
    padding: 0.1em 0.3em;
    background-color: #F8F8F8;
    border-radius: 0.2em;
    font-family: "Consolas", monospace;
    font-size: 140%;
}
p.lowlight {
    color: #A0A0A0;
}
hr {
    border: none;
    border-top: 0.05em solid #B0B0B0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
  #bExtraInfoDiv{
    width: 20pt;
    height: 203pt;
  }
  #okno{
    display: inline-block;
    padding: 5pt;
    border-radius: 5pt;
    background-color: rgba(1,163,217,0.5);
  }