<div id="wrapper">
  <div class="main">
  <div class="content"><h2>Decryption form</h2>
  <hr><br>
  <label>Write chipertext to dechiper : </label>
  <textarea type="text" name="chipertext" id="chipertext"></textarea>
  <input type="submit" value="Start" dname="Start" id="do"></div>
  </div>
  <div id="output" class="blue"></div>
</div>