<head>
	<script type="text/javascript" src="koda.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <script src='../../js-libs/jquery-3.4.1.min.js'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    	#tab {
    		border-collapse: collapse;
    		text-align: right;
    	}
    	.vodo {
    		display: inline-block;
    	}
    	.myButton {
			-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
			-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
			box-shadow:inset 0px 1px 0px 0px #54a3f7;
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #004a61), color-stop(1, #0061a7));
			background:-moz-linear-gradient(top, #004a61 5%, #0061a7 100%);
			background:-webkit-linear-gradient(top, #004a61 5%, #0061a7 100%);
			background:-o-linear-gradient(top, #004a61 5%, #0061a7 100%);
			background:-ms-linear-gradient(top, #004a61 5%, #0061a7 100%);
			background:linear-gradient(to bottom, #004a61 5%, #0061a7 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004a61', endColorstr='#0061a7',GradientType=0);
			background-color:#004a61;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px;
			border:1px solid #124d77;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:Arial;
			font-size:13px;
			padding:3px 10px;
			text-decoration:none;
			text-shadow:0px 1px 0px #002e66;
		}
		.myButton:hover {
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #004a61));
			background:-moz-linear-gradient(top, #0061a7 5%, #004a61 100%);
			background:-webkit-linear-gradient(top, #0061a7 5%, #004a61 100%);
			background:-o-linear-gradient(top, #0061a7 5%, #004a61 100%);
			background:-ms-linear-gradient(top, #0061a7 5%, #004a61 100%);
			background:linear-gradient(to bottom, #0061a7 5%, #004a61 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#004a61',GradientType=0);
			background-color:#0061a7;
		}
		.myButton:active {
			position:relative;
			top:1px;
		}
		td{
			text-align: center;
			padding-right: 10px;
			padding-left: 10px;
		}
		* { 
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
		}
		.page {
			margin: 10px;
			border: 2px solid black;
			border-radius: 4px;
			background-color: #EEF5FD;
			padding: 10px;
		}
    </style>
</head>
<body>
	<div class="page">
		
	<form id="form">
		<div>
			<p class="vodo">Vnesi modul</p>
			<input type="text" id="a" class="vodo" pattern="[0-9-]+" required="required"
				oninvalid="setCustomValidity('Prosim vnesi podatek zahtevane oblike.')"
				oninput="setCustomValidity('')"></input>
		</div>
		<div>
			<p class="vodo">Vnesi število, katerega iščeš inverz</p>
			<input type="text" id="b" class="vodo" pattern="[0-9-]+" required="required"
				oninvalid="setCustomValidity('Prosim vnesi podatek zahtevane oblike.')"
				oninput="setCustomValidity('')"></input>
		</div>
		<input type="submit" value="Začni!" class="myButton">
	</form>
	<strong><p id="err" style="font-style: italic;"></p></strong>
	<table id="tab" border="1px"></table>
	<strong><p id="rezultat" style="font-style: italic;"></p></strong>
	</div>
</body>