<script type="text/javascript" src="./www/drag-n-drop.js"></script>
<link rel="stylesheet" href="./www/drag-n-drop.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div id='successMessage'></div>
<div id="content">
  <div id="cardPile"></div>
  <div id="cardSlots"></div>
</div>