<head>
	<script type="text/javascript" src="koda.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <script src='../../js-libs/jquery-3.4.1.min.js'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<div>
		<p>Vnesi a</p>
		<input type="text" id="a"></input>
	</div>
	<div>
		<p>Vnesi n</p>
		<input type="text" id="n"></input>
	</div>
	
	<input type="button" id="reset" value="Reset"></input>
	<input type="button" id="ns" value="Naslednji korak!"></input>
	<p id='message'></p>
	<div id="tabDiv">
		<table id='table' border='1px' rules=rows rules=columns></table>
	</div>
	
	<div id="circDiv">
		<ul id="list" class="circle"/>
	</div>
</body>