/* .line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 1;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
/* .dot {
    fill: #ffab00;
    stroke: #fff;
}
  
.focus circle {
  fill: none;
  stroke: steelblue;
} */ 

/* g circle {
    fill: orange;
    stroke: green;
    fill-opacity: initial;
    stroke-width: 10;
    opacity: 1;
  } */

.explanation {
    background-color: #effbfb;
    padding: 5px;
}

h1 {
  margin: 12px !important;
}

select {
  border: solid black 1px;
  border-radius: 5px;
  padding:2px;
  float: right;
}

select:focus {
  outline:none;
  border: 1.5px solid -webkit-focus-ring-color;
  border-radius: 5px;
}