h1 {
    margin: 12px !important;
}

h1, p {
    text-align: center;
}

input {
    width: 70px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    text-align: center;
    margin-left:10px;
}

input:focus {
    outline:none;
    border: 1.5px solid -webkit-focus-ring-color;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.btn {
    background-color:#afeeee !important;
}
#button_inverse {
    margin:auto;
    display:block;
    margin-top:10px;
    margin-bottom:10px;
}

.explanation {
    background-color: #effbfb;
    padding: 5px;
    width:75%;
    margin:auto;
    display:block;
}