<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
<script src='../../js-libs/jquery-3.4.1.min.js'></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<script src="./www/hash_funkcije.js"></script>
<link rel="stylesheet" type="text/css" href="./www/hash_funkcije.css">
<div id='hash_funkcije'></div>
