
html * { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:black;
}

* {
    box-sizing: border-box;
    margin: 2pt;
  }

  .log {
    border: 1px solid gray;
    width: 400px;
    height: 80px;
    overflow-y: scroll;
    margin-bottom: 20px;
  }
  .status {
    /* color: green; */
    font-weight: bold;
  }


  .slidecontainer {
    width: 100%
  }

  #okno{
      display: inline-block;
  }

  .log{
    width:0;
    height:0;
    border: none;
  }

  #mainlog{
    width:100%;
    height:150px;
    background-color: rgb(1,163,217);
  }

  #okno{
    background-color: rgb(1,163,217,0.2);
  }