<head>
    <script type="text/javascript" src="./koda.js"></script>
	<link rel="stylesheet" href="./style.css">
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
	<script src='../../js-libs/jquery-3.4.1.min.js'></script>
	
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<p>S spodnjim pripomočkom lahko množiš dve pozitivni celi števili v poljubni bazi med 2 in 16. Ko si izbral bazo in vtipkal števili pritisneš gumb "Reset", 
		nato nadaljuješ po korakih z gumbom "Naslednji korak". Koraki, ki se tako izvedejo, so naslednji:</p>
		<li>Prvo število pomnožimo s vsako števko v drugem številu (produkte treba ustrezno zamakniti med njimi);</li>
		<li>Seštejemo vse števke v posameznem stolpcu, začnemo z najbolj desnim stolpcem. Za lažje delo lahko uporabiš gumb "Združi", ki sešteje dve najbolj
			 zgornji vrstici.</li>
	<input type="range" min=2 max=16 id="modul" name="modul" onchange="trenutnaBaza.innerHTML=this.value;"></input>
	<p id="trenutnaBaza">9</p>
	<p id="izpisiModul"></p>
	<p id="izpisiModul"></p>
	<p>Vnesi prvo stevilo</p>
	<input type="text" id="prvo_st"></input>
	<p>Vnesi drugo stevilo</p>
	<input type="text" id="drugo_st" value=""></input>
	<input type="button" id="next_step" value="Naslednji korak"></input>
	<input type="button" id="reset" value="Reset"/>
	<input type="button" id="collapse" value="Združi"></input>
	<p id="error"></p>
	<table id="myTable"></table>
	<p id="helpSum"> </p>
</body>
