<script type="text/javascript" src="./www/drag-n-drop.js"></script>
<link rel="stylesheet" href="./www/drag-n-drop.css">
<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
<script src='../../js-libs/jquery-3.4.1.min.js'></script>
<script src="../../js-libs/jquery.min.js"></script>
<script src="../../js-libs/jquery-ui.min.js"></script>
<script src="../../js-libs/sweetalert.min.js"></script>

<div id="content">
  <div id="cardPile"></div>
  <div id="cardSlots"></div>
</div>
<div id='successMessage'></div>
<div class='clear'></div>