<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
<script src='../../js-libs/jquery-3.4.1.min.js'></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<script src="./www/JsBarcode.all.min.js"></script>
<script src="./www/barCode.js"></script>
<link rel="stylesheet" type="text/css" href="./www/barCode.css">
<div style="display:inline-block">
    <div id='barCode'></div>
</div>
