/* Below line is write to use Google font online */
@import "http://fonts.googleapis.com/css?family=Ubuntu";
div.main{
width:auto;
height:auto;
margin:0 auto;
margin-bottom:25px;
font-family:monospace, sans-serif
}
div.content{
  text-align:center;
  border:1px solid #ccc;
  width:100%;
  padding:0 5px 1.5px;
  margin-top:5px;
  border-radius:6px;
  float:left
}
div#chiperButtons{
  width:auto;
  height:auto;
  margin:0 auto;
  margin-bottom:25px;
  font-family:monospace, sans-serif
}
.main h1{
  margin-top:40px
}
hr{
  margin-top:-5px
}
label{
  float:left;
  font-size:16px
}
input#chipertext{
  width:100%;
  margin-top:10px;
  height:35px;
  margin-bottom:25px;
  padding:10px;
  border:3px solid #e6f0ff;
  overflow: auto;
}

textarea{
  width:100%;
  border:3px solid #e6f0ff;
  padding:10px;
  margin-bottom:25px;
  margin-top:10px;
  height:100px;
  resize: both;
  overflow: auto;
}
input#do{
  width:100%;
  padding:10px 45px;
  background-color:#e6f0ff;
  border:none;
  color:#fff;
  font-size:18px;
  font-weight:700;
  cursor:pointer;
  font-family: monospace ,sans-serif;
  color: gray;
}

#chiperButtons input{
  width:10%;
  margin-top:2em;
  margin-bottom:2em;
  padding:2px;
  border:3px solid #e6f0ff;
  overflow: auto;
}

.blue {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}