<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="./www/JsBarcode.all.min.js"></script>
<script src="./www/barCode.js"></script>
<link rel="stylesheet" type="text/css" href="./www/barCode.css">
<div style="display:inline-block">
    <div id='barCode'></div>
</div>