/* Below line is write to use Google font online */
@import "http://fonts.googleapis.com/css?family=Ubuntu";
div.main{
width:auto;
height:auto;
margin:0 auto;
margin-bottom:25px;
font-family:'Ubuntu',sans-serif
}
div.content{
text-align:center;
border:1px solid #ccc;
width:100%;
padding:0 5px 1.5px;
margin-top:5px;
box-shadow:0 0 15px;
border-radius:6px;
float:left
}
div#chiperButtons{
width:auto;
height:auto;
margin:0 auto;
margin-bottom:25px;
font-family:'Ubuntu',sans-serif
}
.main h1{
margin-top:40px
}
hr{
margin-top:-5px
}
label{
float:left;
font-size:16px
}
input#chipertext{
width:100%;
margin-top:10px;
height:35px;
margin-bottom:25px;
padding:10px;
border:3px solid #2BC1F2;
overflow: auto;
}

textarea{
width:100%;
border:3px solid #2BC1F2;
padding:10px;
margin-bottom:25px;
margin-top:10px;
height:100px;
resize: both;
overflow: auto;
}
input#do{
width:100%;
padding:10px 45px;
background-color:#2BC1F2;
border:none;
color:#fff;
font-size:18px;
font-weight:700;
cursor:pointer;
font-family:'Ubuntu',sans-serif
}

#chiperButtons input{
width:10%;
margin-top:2em;
margin-bottom:2em;
padding:2px;
border:3px solid #2BC1F2;
overflow: auto;
}