table {
  border-collapse: collapse;
  /*margin: 7px;*/
  text-align: center;
}
table tr:first-child td {
  border-bottom: 1px solid black; 
}

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  height: auto !important;
  padding-top: 0.3rem !important;
  background-color: #000;
  background: white;
}

.modul {
  text-decoration: underline;
}

.container {
  margin: 15px;
  display: inline-block;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #004667;
  width: 300px;
  height: 100px;
}

.box-minmax {
  position: absolute;
  top: 50px;
  left: 8px;
  margin-top: 30px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  color: #FFFFFF;
}
.box-minmax span:first-child {
  margin-left: 10px;
}

.range-slider {
  margin-top: 30vh;
}

.rs-range {
  position: absolute;
  top: 30px;
  margin-top: 29px;
  margin-left: 20px;
  width: 256px;
  -webkit-appearance: none;
}
.rs-range:focus {
  outline: none;
}
.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 10px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: absolute;
  transform-origin: center center;
  top: -10px;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  box-sizing: border-box;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 10px;
  left: attr(value);
  color: white;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
}
p {
  text-align: justify;
}
.vsebina {
  width: 96%;
  margin-left: 2%;
  margin-top: 10px;
  background: #EEF5FD;
  border: 2px solid black;
  border-radius: 5px;
}
.content {
  margin: 10px;
}
.vodo {
  display: inline-block;
}
.racunaj{
	display: inline-block;
	border: 2px solid black;
	border-radius: 5px;
	margin: 5px;
	/*position: relative;*/
	vertical-align: top;
	visibility: hidden;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #004a61), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #004a61 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #004a61 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #004a61 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #004a61 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #004a61 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004a61', endColorstr='#0061a7',GradientType=0);
    background-color:#004a61;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    margin: 6px;
    color:#ffffff;
    font-size:12px;
    padding:3px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #002e66;
    margin-left: 10px;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #004a61));
    background:-moz-linear-gradient(top, #0061a7 5%, #004a61 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #004a61 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #004a61 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #004a61 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #004a61 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#004a61',GradientType=0);
    background-color:#0061a7;
}
.myButton:active {
    position:relative;
    top:1px;
}