<script type="text/javascript" src="./www/oneTimePad.js"></script>
<link rel="stylesheet" href="./www/oneTimePad.css">
<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
<script src='../../js-libs/jquery-3.4.1.min.js'></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div id='cchiperWrapper'></div>
