<script src="./www/zxcvbn-4.4.2/dist/zxcvbn.js"></script>
<script src="./www/Password_test.js"></script>
<link rel="stylesheet" type="text/css" href="./www/Password_test.css">

<div style="display:inline-block">
        <label for="password">Enter password</label>
        <input type="text" id="password" required>

        <meter max="4" id="password-strength-meter"></meter>
        <p id="password-strength-text"></p>
        <p id="password-guess-text"></p>
        <p id="password-timeToCrack"></p>
</div>