<head>
    <script type="text/javascript" src="koda.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="vsebina">
		<div class="content">
			
			<p><strong>Postopek množenja s metodo ruskih kmetov:</strong></br> 
				v prvo vrstico tabele zapišemo števili, ki želimo množiti. V naslednjih korakih število 
				v levem stolpcu delimo z 2, tisto v desnem pa množimo z 2. Nadaljujemo dokler 
				je število na levi večje od 1. Nato prečrtamo vse vrstice, ki imajo v levem stolpcu sodo število. Nazadnje seštejemo vsa števila iz desnega stolpca, ki nismo prečrtali. </p>
			<p><strong>Opazki:</strong></p> 
			<li>Dana metoda je posebno primerna, če uporabljamo kot osnovo mnogokratnik števila dva (na ta način, zato da ugotovimo, če 
			    je število sodo ali liho, je dovolj da opazujemo, če je zadnja števka soda ali liha);
			</li>
			<li>Metoda je še posebej primerna, če uporabljamo bazo 2, saj ko v dvojiški bazi množimo z 2, moramo samo na koncu števila 
			    dodati eno ničlo (podobno kot v domačem desetiškem sistemu, ko množimo z deset, dodamo eno ničlo na konec števila), ko 
			    pa celoštevilsko delimo s 2, moramo samo odstraniti najbolj desno števko. Če je desna števka enaka 0, je število sodo, 
			    v nasprotnem primeru pa je število liho.
			</li>
			</br>
			<div>
				<p>Izberi <span class="modul" id="modul">modul</span>:</p>
				<div class="container">
					<div class="range-slider">
				    	<span id="rs-bullet" class="rs-label">2</span>
				    	<input id="rs-range-line" class="rs-range" type="range" value="2" min="2" max="16">
				  	</div>
				  	<div class="box-minmax">
				    	<span>2</span><span>16</span>
				  	</div>
				</div>
			</div>
			
			<form id="reset">
				<div>
					<p class="vodo">Vnesi prvo število</p>
					<input type="text" id="prvo_st" class="vodo" 
						required="required"
						oninvalid="setCustomValidity('Prosim vnesi število.')"
						oninput="setCustomValidity('')"></input>
				</div>
				<div>
					<p class="vodo">Vnesi drugo število</p>
					<input type="text" id="drugo_st" class="vodo"
						required="required"
						oninvalid="setCustomValidity('Prosim vnesi število.')"
						oninput="setCustomValidity('')"></input>
				</div>
				<div>
					<input type="submit" value="Začni!" class="myButton" />
					<input type="button" id="next_step" value="Naslednji korak" class="myButton"></input>
				</div>
			</form>
			<p id="error"></p>
			<p id="izpisiBazo"></p>
			<table id="myTable" border=1 frame=void rules="all"></table>
			<p id="rezultat"></p>
		</div>
	</div>
</body>