* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  background-color: #000;
  background: white;
}

.modul {
  text-decoration: underline;
}

.container {
  margin: 15px;
  display: inline-block;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #004667;
  width: 300px;
  height: 100px;
}

.box-minmax {
  position: absolute;
  top: 50px;
  left: 8px;
  margin-top: 30px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  color: #FFFFFF;
}
.box-minmax span:first-child {
  margin-left: 10px;
}

.range-slider {
  margin-top: 30vh;
}

.rs-range {
  position: absolute;
  top: 30px;
  margin-top: 29px;
  margin-left: 20px;
  width: 256px;
  -webkit-appearance: none;
}
.rs-range:focus {
  outline: none;
}
.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 10px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: absolute;
  transform-origin: center center;
  top: -10px;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  box-sizing: border-box;
  border: 2px solid #ff5f5f;
  margin-top: 20px;
  margin-left: 10px;
  left: attr(value);
  color: #ff5f5f;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
}
p {
  text-align: justify;
}
.vsebina {
  width: 96%;
  margin-left: 2%;
  margin-top: 10px;
  background: #EEF5FD;
  border: 2px solid black;
  border-radius: 5px;
}
.content {
  margin: 10px;
}
.vodo {
  display: inline-block;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    font-weight:bold;
    font-style:italic;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    margin: 20px;
}

.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}
.myButton:active {
  position:relative;
  top:1px;
}

table {
  margin: 8px;
}