hr.country{
    color: red; 
    background-color: red;
    border:1px solid red;
    margin: 0px;
    padding: 0px;
    float: left;

}
hr.manufacturer{
    color: blue; 
    background-color: blue;
    border:1px solid blue;
    margin: 0px;
    float: left;
    padding: 0px;
}
hr#country1{
    width: 48px;
    margin-left: 10px;
}
hr#country2{
    width: 58px;
    margin-left: 10px;
}
hr#manufacturer1{
    width: 50px;
    margin-left: 2px;
}
hr#manufacturer2{
    width: 42px;
    margin-left: 2px;

}

hr#product{
    color: green; 
    background-color: green;
    border:1px solid green;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 60px;
    margin-left: 18px;
}
hr#checkDigit{
    color: brown; 
    background-color: brown;
    border:1px solid brown;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 10px;
    margin-left: 2px;
}



.barcode{
    margin: 0px;
    padding: 0px;
}


div#productDiv{
    width: 200px;
    height: 260px;
    float: left;
}

div#imgDiv{
    width: 200px;
    height: 260px;
    float: left;
}

div#barDiv{
    width: 260px;
    height: 260px;
    float: left;
}

p{
    font-size: 14px;
    color: #3CBC8D;
    display: inline-block;
    margin-right: 6px;

}
button{
    border:none;
    text-align: center;
    cursor: pointer;
    background-color: #3CBC8D;
    color: white;
    height: 40px;
    border-radius: 2px;
}
button#smallButton{
    height: 30px;
}


input[type=text]#codeArea{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    width: 140px;
    background-color: #3CBC8D;
    border-radius: 2px;
    color: white;
}

h1{
    margin: 0px;
    font: 'Ubuntu',sans-serif;
    color: #3CBC8D;
}
p#napakaVpisBar{
    color: red;
    font-size: 20px;

}

p#slikaText{
    font: 'Ubuntu',sans-serif;
    color: #3CBC8D;
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 6px;
    font-weight: bold;

}