<footer>
  <p>Compiled by: Mia Filic</p>
  <p>Contact information: <a href="mailto:mia.filic@fri.uni-lj.si">
  me@me.com</a>.</p>
  <script>
      window.addEventListener("load", function(event) {
        console.log('Mia todo! - enable only one font.');
        gitbook.require(['gitbook'], function(gitbook) {
            var FONT_FAMILIES = [
        {
            config: 'sans',
            text: 'Sans',
            id: 0
        }
    ];

    gitbook.events.on('start', function(e, config) {
        // Read configuration
        var themeConfig = config['my-theme'],
            defaultFont = themeConfig['font-family'];

        // Initialize new font families
        gitbook.fontsettings.setFamilies(FONT_FAMILIES);
        // Set to configured font-family
        gitbook.fontsettings.setFamily(defaultFont);
    });
  });
});
  </script>
</footer>
