<script src='./js-libs/iframeResizer.min.js'></script>
<link href='./static/css/bootstrap.min.css' rel="stylesheet">
<link href='./static/css/font-awesome.css' rel="stylesheet">
<link href='./static/css/stil.css' rel="stylesheet">