&nbsp;
<hr/>
<p style="text-align: center;">Mia Filić</p>
<p style="text-align: center;"><span style="color: #808088;"><em>filicmia@gmail.com</em></span></p>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<p style="text-align: center;">
    <a href="https://twitter.com/r_graph_gallery?lang=en" class="fa fa-twitter"></a>
</p>

&nbsp;
