#content {
	width: 100%;
	text-align: center
}

/* remove the border */
body {
	margin: 0;
	padding: 0;
	/*background-color: black;*/
}

/* make canvas the size of the viewport */
canvas {
	width: 100vw;
	height: 100vh;
	display: block;
}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}