/* Below line is write to use Google font online */
@import "http://fonts.googleapis.com/css?family=Ubuntu";
div.main{
width:auto;
height:auto;
margin:0 auto;
margin-bottom:25px;
background-color: white;
font-family:'Ubuntu',sans-serif;
}
div.content{
    background-color: white;
    width:auto;
    height: 600px;
    margin-left: 20px;
}

h1{
    margin: 0px;
    font: 'Ubuntu',sans-serif;
    margin-bottom: 50px;
    color: green;
}

div#div1{
    float:left;
}
div#div2{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
div#div3{
    float:left;
    margin-right: 20px;
    margin-left: 20px;
}

h3{
    color: aqua;
}
textarea{
    background-color: azure;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
    float: left;
    margin-right: 20px;
}
select#hashFunction{
    display: block;
    margin-left: -1px;
    box-shadow: 1px 1px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: azure;
    border: transparent
    
}
input#do{
    margin-top: 25px;
    border:none;
    text-align: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;

}