<head>
	<script type="text/javascript" src="koda.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <script src='../../js-libs/jquery-3.4.1.min.js'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    	.vodo {
    		display: inline-block;
    	}
    </style>
</head>
<body>
	<div>
		<p class="vodo">Vnesi a</p>
		<input type="text" id="a" class="vodo"></input>
	</div>
	<div>
		<p class="vodo">Vnesi n</p>
		<input type="text" id="n" class="vodo"></input>
	</div>
	
	<input type="button" id="reset" value="Reset"></input>
	<input type="button" id="ns" value="Naslednji korak!"></input>
	</br>
	<div>	
		<table id='table' border='1px' rules=rows rules=columns width=200px style="float: left"></table>
		<table id='tableUrejena' border='1px' rules=rows rules=columns width=200px ></table>
	</div>
	</br>
	<p id="mess"></p>
</body>